footer {
    margin-bottom: 0;
    color: var(--clr2);
    width: 100%;
}

.footer-container {
    background-color: var(--clr1);
    padding: 60px;
    text-align: center;

}

footer .main-logo {
    padding: 0;

}