.modal {
    /* display: none; */
    display: none;
    border-radius: 10px;
    background-color: var(--clr7);
    /* padding: 2rem; */
    /* left: 50%; 
     top: 50%; */
    /* z-index: 50; */
    /* transform: translate(-50%, -50%); */
}

.modal-open {
    display: block;
}

.sort-container {
    padding-inline-end: 0.5rem;
    max-width: fit-content;
    margin-inline-start: 4rem;
    border-bottom: 1px solid black;
}

.sort-input:focus {
    outline: none;
}

.sort-input {
    border: none;

}

.sort-input::after {
    border: none;


}

.sort-img {
    position: relative;
    top: 5px;
    left: 10px;
    height: 20px
}

.grid-container {
    width: 100%;
    padding-block-start: 13.5px;
    padding-inline-start: 25px;
    padding-inline-end: 24.5px;
    display: grid;
    gap: 10.5px;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));



}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}