.modal {
    display: none;
    border-radius: 10px;
    background-color: var(--clr7);

}

.modal-open {
    display: block;
}

.sort-container {
    padding-inline-end: 0.5rem;
    max-width: fit-content;
    margin-inline-start: 4rem;
    border-bottom: 1px solid black;
}

.sort-input:focus {
    outline: none;
}

.sort-input {
    border: none;

}

.sort-input::after {
    border: none;


}

.sort-img {
    position: relative;
    top: 5px;
    left: 10px;
    height: 20px
}

.grid-container {
    width: 100%;
    padding-block-start: 13.5px;
    padding-inline-start: 25px;
    padding-inline-end: 24.5px;
    display: grid;
    gap: 10.5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));



}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.owner-img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    margin-inline-start: 50px;
  
  }
  .owner-text{
    margin-inline-start: 50px;
    
  
  
  }
  .description{
    margin-top: 4rem;
    margin-bottom: 4rem;
    justify-content: center;
  
  }
  p{
    margin: 0;
  }
  
  .box{
    position: relative;
    background-color: var(--clr1);
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 6px;
    margin: 0 4.5px;
    color: var(--clr2);
  }
  
  .box i{
    position: absolute;
    top: 30%;
    left: 30%;
  
  }
  