@font-face {
    font-family: PressStart;
    src: url(/fonts/pressStart/PressStart2P-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
}