* {
    box-sizing: border-box;
}

html {
    font-family: Montserrat, sans-serif;
    max-width: 100%;
    overflow-x:hidden
   
}

body {
    max-width: 100%;
    overflow-x:hidden;
    height: 100%;
    margin: 0 ;
    font-size: 1.25rem;
    line-height: 1.25;
}

