@media screen and (max-width:680px) {

    body {
        font-size: 14px;
    }

    html {
        width: 100%;
    }



    .main-header {
        justify-content: space-between;
    }

    .main-layout {
        margin: auto 0;
        padding-left: 1em;
        padding-right: 1em;
    }

    .main-nav {
        position: absolute;
        flex-direction: column;
        width: 100%;
        top: 60px;
        font-size: 1.5em;
        max-height: 0;
        transition: max-hight .8s;
        overflow: hidden;
        transform-origin: top;
        justify-content: center;
        background-color: var(--clr1);
        z-index: 10;


    }

    body.menu-open .main-nav {
        max-height: 100vh;
        transform: translateY(0);
    }



    .menu-toggle {
        display: block;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: var(--clr1);
    }

    #canvas {
        height: 550px;
        width: 100%
    }
}

/* medium */
@media screen and (min-width:680px) {
    body {
        font-size: 14px;
        height: 100vh;
    }

    .menu-toggle {
        display: none;
    }

    .main-container {
        margin: 0 auto;

        flex-direction: column;
    }

    .main-layout {
        margin: auto 0;
        padding-left: 1em;
        padding-right: 1em;
    }

    #canvas {
        height: 650px;
        width: 650px;
    }

}


/* large */

@media screen and (min-width:1070px) {
    body {
        font-size: 1rem;
    }

    .menu-toggle {
        display: none;
        background-color: var(--clr1);
    }


    .main-container {
        margin: 0;
        flex-direction: row;
    }

    #canvas {
        height: 650px;
        width: 650px;
        grid-column: 1/2;
    }

    .main-container .grid {
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr;


    }

    .editor-controller {
        grid-column: 2/3;
        grid-row: 1/2;
    }

}